<div style="border-style: dashed;">
    <td><app-navcontent>
        <td><app-postcounter></app-postcounter></td>&nbsp;&nbsp;&nbsp;
        
    </app-navcontent></td>
    <td><app-navcontent>
        <td><app-history></app-history></td>&nbsp;&nbsp;&nbsp;
        
    </app-navcontent></td>
    <td>
        <app-post >

        </app-post>
        <!-- <app-navcontent>
            <td><a [routerLink]="'./addPost'">Add Post</a></td> 
        
        <router-outlet></router-outlet>
        </app-navcontent> -->
    </td>
</div>

